<% layout('layout') -%>
<p>Eventos de la semana del 12/03/14 al 22/03/14</p>

<div class="list-group" style="width:300px;display:inline-table;">
<ul class="media-list">
  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="..." alt="...">
    </a>
    <div class="media-body">
      <h4 class="media-heading">Media heading</h4>
      fsdfdsfsdfdsfdsfdsfdsfsdfsdfsd
    </div>
  </li>

    <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="..." alt="...">
    </a>
    <div class="media-body">
      <h4 class="media-heading">Media heading</h4>
      fsdfdsfsdfdsfdsfdsfdsfsdfsdfsd
    </div>
  </li>

      <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="..." alt="...">
    </a>
    <div class="media-body">
      <h4 class="media-heading">Media heading</h4>
      fsdfdsfsdfdsfdsfdsfdsfsdfsdfsd
    </div>
  </li>

      <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="..." alt="...">
    </a>
    <div class="media-body">
      <h4 class="media-heading">Media heading</h4>
      fsdfdsfsdfdsfdsfdsfdsfsdfsdfsd
    </div>
  </li>

      <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="..." alt="...">
    </a>
    <div class="media-body">
      <h4 class="media-heading">Media heading</h4>
      fsdfdsfsdfdsfdsfdsfdsfsdfsdfsd
    </div>
  </li>
</ul>


</div>